.kiri{
    background: url("./img/jumbotron-bg.svg") no-repeat;
    height: 400px;
    padding-right: 30%;
    padding-top: 50px;
    padding-left: 70px;
}

.kanan{
    z-index: 2;
    position: relative;
    top: 30px;
    right: 260px;
    height: max-content;
}

.line3{
    margin-right: 150px;
}